@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

body{
    font-family: 'Product Sans';
    margin: 0;
    background: rgb(236, 236, 236); 
}

.v_m {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.cover {
    overflow: hidden;
    max-width: 100vw;
    min-height: 100vh;
    background: #572C41;
}

.cover-desc{
    color: #FF9A55;
}

.icon {
    width: 38vw;
    max-height: 100%;
}

.title {
    padding: 10px 0 0 10px; 
    color: white;
    font-size: 20pt; 
}

.buffer {
    height: 30vh;
    background: #FF9A55;
}


.m-card {
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    padding: 8%; 
}

.m-card > .name{
    font-size: 25pt;
    font-weight: bold;
    text-transform: capitalize;
}

.m-card > .msg{
    font-size: 15pt;
    font-style: italic;
}

.m-card > .github {
    padding-top: 10px;
    font-size: 20pt; 
}

a:link {
    color: rgb(54, 54, 54);
}

a:visited {
    color: rgb(31, 31, 31);
}

a:hover {
    color: rgb(100, 100, 100);
    text-decoration: none;
}

.footer {
    height: 5vh;
    background: rgb(36, 36, 36)
}

@media only screen and (max-width: 600px) {
    .cover {
        min-height: 100vh;
    }

    .icon{
        width: 80vw;
    }

    .cover-desc{
        font-size: 25pt;
    }

    .title {
        padding: 10px 0 0 10px; 
        color: white;
        font-size: 12pt; 
    }
}

